# default cmake files
./CMakeLists.txt.user
./CMakeCache.txt
./CMakeFiles
./CMakeScripts
./Makefile
./cmake_install.cmake

# configurations
./CPackConfig.camke
./CPackSourceCongig.cmake

# test
./Testing
./CTestTestfile.cmake

# manifest 
./install_manifest.txt

# compile
./compile_commands.json

# dependencies
./_deps

# output
./build/
./*.swp
./tags

